@inherits LayoutComponentBase
    <div class="page">
        <MainNavigation></MainNavigation>
        <MainHeader></MainHeader>
        <div class="content">
            <div class="container">
                @Body
            </div>
        </div>
    </div>