@page "/docs"

<div class="page-header">
    <h1 class="page-title">
        Documentation
    </h1>
</div>
<div class="row">
    <a href="/docs/cards">Cards</a>
    <a href="/docs/buttons">Buttons</a>
</div>