@inherits LayoutComponentBase
<TablerPage>
    <MainNavigation></MainNavigation>
    <MainHeader></MainHeader>
    <div class="content">
        <div class="container">
            @Body
        </div>
    </div>
</TablerPage>